.env
rippotai_erp_key
rippotai_erp_key.pub
WE HAVE FAIRLY LARGE REGISTRY COMPNENT MAKE IT MORE LIKE MAIN REGISTRY.JSX SHULD BE A ROOT FILE AND DIVIDE ALL OTHER WIDGETS INTO THERE RESPECTIVE CODE MODULES WIDGETS FILES AND RENDER ALL IN THE ROOT SO THAT NOTHING BREAKS